.home_banner {
    display: flex;
    background-color: #0F8652;
    color: white;
}

.home_banner_left {
    padding: 0 60px;
    width: 50%;
    position: relative;
}

.home_banner_left h1 {
    font-size: 70px;
    margin-top: 20px;
}

.home_banner_left p {
    width: 60%;
    margin: 50px 0;
}

.home_banner_left p span {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.home_banner_search {
    position: absolute;
    width: 125%;
    bottom: 150px;
    left: -90px;
}

.home_banner_right {
    display: flex;
}

.home_banner_right_text {
    width: 130px;
    transform: translateX(30%) translateY(50%);
}

.home_banner_right_picture {
    height: 100%;
}

.home_banner_right_picture img {
    height: 100%;
}

.home_body {
    width: 90%;
    margin: 0 auto;
}

.home_body_title {
    width: 60%;
    font-size: 50px;
    text-align: center;
    margin: 8% auto 0 auto;
}

.home_body_title span {
    text-transform: uppercase;
}

.home_body_text {
    width: 60%;
    text-align: center;
    margin: 1% auto;
}

.home_body_picture {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 550px;
    margin: 50px 0;
}

.home_body_picture_left {
    height: 550px;
    margin-right: 3%;
}

.home_body_picture_left .picture_left {
    width: 258px;
    height: 258px;
}

.home_body_picture_left .picture2 {
    margin-top: 12%;
}

.home_body_picture_center {
    height: 550px;
    margin-right: 3%;
}

.home_body_picture_center .picture_center {
    width: 380px;
    height: 100%;
}

.home_body_picture_right {
    width: 550px;
    position: relative;
}

.picture_right_top .picture4 {
    position: absolute;
    top: 0;
    width: 500px;
}

.picture_right_bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.home_provide_header {
    text-align: center;
}

.home_provide_header p {
    opacity: 0.7;
}

.home_provide_content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.home_provide_content_item {
    text-align: center;
    width: 30%;
}

.home_provide_content_image {
    height: 170px;
}

.home_provide_content_header {
    margin: 10px auto;
}

.home_provide_content_text {
    padding: 25px 0;
    margin-bottom: 150px;
    opacity: 0.6;
}

@media (max-width: 1300px) {

    .home_banner_left {
        width: 700px;
    }

    .home_banner_left h1 {
        font-size: 60px;
    }

    .home_banner_left p {
        width: 420px;
        margin: 50px 0;
    }

}

@media (max-width: 1200px) {

    .home_banner_left h1 {
        font-size: 50px;
        margin: 50px 0;
    }

    .home_body_picture_center {
        height: 500px;
        margin-right: 3%;
    }

    .home_body_picture_center .picture_center {
        width: 350px;
    }

    .home_body_picture_left {
        height: 500px;
        margin-right: 3%;
    }

    .home_body_picture_left .picture_left {
        width: 220px;
        height: 238px;
    }

    .home_body_picture_right {
        width: 500px;
        height: 500px;
        position: relative;
    }

    .picture_right_top .picture4 {
        position: absolute;
        height: 220px;
        top: 0;
        width: 400px;
    }

    .picture_right_bottom {
        position: absolute;
        height: 220px;
        bottom: 0;
        display: flex;
        width: 400px;
        justify-content: space-between;
    }

}

@media (max-width: 1150px) {

    .home_banner {
        justify-content: space-between;
    }

    .home_banner_left {
        width: 500px;
    }

    .home_banner_left h1 {
        font-size: 45px;
        margin: 50px 0;
    }

    .home_banner_right_picture img {
        width: 400px;
    }

    .home_body_picture {
        width: fit-content;
        margin: 0 auto;
    }

    .home_body_picture_left {
        height: 400px;
        margin-right: 3%;
    }

    .home_body_picture_left .picture_left {
        width: 200px;
        height: 200px;
    }

    .home_body_picture_center {
        height: 425px;
        margin-right: 3%;
    }

    .home_body_picture_center .picture_center {
        width: 300px;
    }

    .home_body_picture_right {
        width: 400px;
        height: 425px;
        position: relative;
    }

    .picture_right_top .picture4 {
        position: absolute;
        height: 200px;
        top: 0;
        width: 350px;
    }

    .picture_right_bottom {
        position: absolute;
        height: 200px;
        bottom: 0;
        display: flex;
        width: 350px;
        justify-content: space-between;
    }

}

@media (max-width: 1050px) {

    .home_banner_right_picture img {
        width: 300px;
    }

}

@media (max-width: 1000px) {

    .home_body_picture {
        width: fit-content;
        height: fit-content;
        margin: 20px auto;
    }

    .home_body_picture_left {
        height: 300px;
        margin-right: 3%;
    }

    .home_body_picture_left .picture_left {
        width: 150px;
        height: 150px;
    }

    .home_body_picture_center {
        height: 320px;
        margin-right: 3%;
    }

    .home_body_picture_center .picture_center {
        width: 250px;
    }

    .home_body_picture_right {
        width: 320px;
        height: 320px;
        position: relative;
    }

    .picture_right_top .picture4 {
        position: absolute;
        height: 150px;
        top: 0;
        width: 280px;
    }

    .picture_right_bottom {
        position: absolute;
        height: 150px;
        bottom: 0;
        display: flex;
        width: 280px;
        justify-content: space-between;
    }

}